<h2>ENDOPLEXUS</h2>
<p>
    <a href="/menu">Return to Menu</a>
</p>
<h2>CHANGE PASSWORD</h2>
<form onsubmit="submitForm(); return false;">
    <table>
        <tr>
            <td>Old Password:</td>
            <td><input id="oldPassword" type="password" /></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input id="newPassword" type="password" /></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input id="passwordConfirmation" type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Change Password" /></td>
        </tr>
    </table>
</form>
<p id="message"></p>


