<h2>ENDOPLEXUS</h2>
<p>A multiplayer browser game about miniaturization, digital logic, and resource management</p>
<p>TODO: Add a splash image here.</p>
<p>Github repository: <a href="https://github.com/ostracod/endoplexus">https://github.com/ostracod/endoplexus</a></p>
<h2>PLAY AS GUEST</h2>
<form onsubmit="submitGuestAccountForm(); return false;">
    <table>
        <tr>
            <td>Username:</td>
            <td><input id="guestUsername" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Join Game" /></td>
        </tr>
    </table>
</form>
<p id="guestAccountMessage"></p>
<h2>LOG IN WITH ACCOUNT</h2>
<form onsubmit="submitPersistentAccountForm(); return false;">
    <table>
        <tr>
            <td>Username:</td>
            <td><input id="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="password" type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Log In" /></td>
        </tr>
    </table>
</form>
<p id="persistentAccountMessage"></p>
<p>
    <a href="createAccount">Create a New Account</a>
</p>
<p>
    <a href="leaderBoard">Leader Board</a>
</p>
